p{font-size:42px; font-family: 'Anton', sans-serif;}
p.z{font-size:37px; font-family: 'Gajraj One', cursive;} 
	p.y{margin-top:0.5;margin-bottom:0.1}
	img{width:370px;height:230px}
	img{margin-top:-95; margin-left:25}
	p.x{font-size:30px; font-family: 'Bebas Neue', cursive}
	p.x{margin-left:25}
	li{font-size:26px;font-family: 'Bebas Neue', cursive}
	li{margin-left:8}